<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <link href="~/admin/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/admin/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/admin/assets/css/feathericon.min.css" rel="stylesheet" />
    <link href="~/admin/assets/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <script src="~/admin/assets/js/jquery-3.2.1.min.js"></script>


    <script src="~/admin/assets/js/popper.min.js"></script>
    <script src="~/admin/assets/js/bootstrap.min.js"></script>

    <script src="~/admin/assets/js/script.js"></script>
</body>
</html>
