@using Microsoft.AspNetCore.Identity
@using Softtech.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>RMS09 - Dashboard</title>
    <link href="~/admin/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/admin/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/admin/assets/css/feathericon.min.css" rel="stylesheet" />
    <link href="~/admin/assets/plugins/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/admin/assets/plugins/morris/morris.css" rel="stylesheet" />
    <link href="~/admin/assets/css/style.css" rel="stylesheet" />

    <link href="~/assets/plugins/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <style>
        input.input-validation-error {
            border-color: red;
        }
    </style>
</head>
<body>
    <div class="main-wrapper">

        <div class="header">
            <div class="header-left">
                <a asp-action="Index" asp-controller="Admin" class="logo">
                    <img src="~/assets/img/log10.png" class="img-fluid" width="100" height="70" alt="Logo" />
                </a>
                <a href="index.html" class="logo logo-small">
                    <img src="~/assets/img/log10.png" class="img-fluid" width="100" height="70" alt="Logo" />
                </a>
            </div>
            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fe fe-text-align-left"></i>
            </a>

            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="Search here">
                    <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <a class="mobile_btn" id="mobile_btn">
                <i class="fa fa-bars"></i>
            </a>
            <ul class="nav user-menu">
                <li class="nav-item dropdown noti-dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="fe fe-bell"></i> <span class="badge badge-pill"></span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            @*<a href="javascript:void(0)" class="clear-noti"> Clear All </a>*@
                        </div>

                    </div>
                </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img">
                            @*<img class="rounded-circle" src="assets/img/profiles/avatar-01.jpg" width="31">*@
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <span class="mb-0 text-sm text-darker font-weight-bold">Hello @UserManager.GetUserName(User)!</span>
                            }
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            @*<div class="avatar avatar-sm">
                                <img src="assets/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
                            </div>*@
                            <div class="user-text">
                                <h6>
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <span class="mb-0 text-sm text-darker font-weight-bold">Hello @UserManager.GetUserName(User)!</span>
                                    }
                                </h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="profile.html">My Profile</a>
                        <a class="dropdown-item" href="settings.html">Settings</a>
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Main</span>
                        </li>
                        <li class="active">
                            <a asp-action="Index" asp-controller="Admin"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a asp-action="ManageUser" asp-controller="Admin"><i class="fe fe-user"></i> <span>Manage Users</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fe fe-calendar"></i> <span> Manage Student</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a asp-action="AllStudents" asp-controller="Students">All Students</a></li>
                                <li><a asp-action="ListOfBookings" asp-controller="Bookings">All Bookings</a></li>
                                <li><a asp-action="Index" asp-controller="Bookings">Pending Bookings</a></li>
                                <li><a asp-action="AllBookings" asp-controller="Bookings">Approved Bookings</a></li>
                                @*<li><a asp-action="Index" asp-controller="RoomType">Owing Student</a></li>*@
                            </ul>
                            <ul style="display: none;">
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fe fe-building"></i> <span> Manage Rooms</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a asp-action="ListOfRooms" asp-controller="Rooms">Room List</a></li>
                                <li><a asp-action="Index" asp-controller="RoomType">Room Type</a></li>
                            </ul>
                            <ul style="display: none;">
                            </ul>
                        </li>
                        <li>
                            <a asp-action="ListOfPayments" asp-controller="Payments"><i class="fe fe-money"></i> <span>Student Payments</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-eye"></i> <span> Room Inspections</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a asp-action="GetAllInspectionToList" asp-controller="Inspections">Room Checklist</a></li>
                                <li><a asp-action="ListOfFaults" asp-controller="Faults">View Faults</a></li>
                                @*<li><a asp-action="AddFines" asp-controller="Fines">Log/Assign Fines</a></li>*@
                            </ul>
                            <ul style="display: none;">
                            </ul>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Reviews"><i class="fe fe-star"></i> <span>Reviews</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content container-fluid">
                <div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @*<script src="~/admin/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/admin/assets/js/popper.min.js"></script>
    <script src="~/admin/assets/js/bootstrap.min.js"></script>
    <script src="~/admin/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>*@

    <script src="~/guest/assets/jsfile.js"></script>
    <script src="~/guest/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/guest/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/notify.min.js" asp-append-version="true"></script>

    <script src="~/admin/assets/plugins/raphael/raphael.min.js"></script>
    <script src="~/admin/assets/plugins/morris/morris.min.js"></script>
    <script src="~/adminassets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminassets/plugins/datatables/datatables.min.js"></script>
    <script src="~/admin/assets/js/chart.morris.js"></script>
    <script src="~/admin/assets/js/script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    @await Html.PartialAsync("_notificationPartial")
    @RenderSection("Scripts", required: false)
</body>
</html>