@model Softtech.Models.TblRoom

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RoomId" />
    </form>
</div>
